#output{
    border: 1px solid black;
    height: 10vh;
    width: 60%;
    margin: auto;
    padding: 1rem;
    background-color: white;
}

body{
    background-image: url(minions.jpg);
    text-align: center;
}

h1{
    text-align: center;
    padding: 1rem;
}

textarea{
    text-align: center;
    width: 40%;
    margin: 1rem;
}


.outputHeading{
    text-align: center;
    padding: 2rem;
}

#btn-translate{
    display: flex;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 1rem;
    width: 6rem;
    height: 2rem;
    text-align: center;
    padding: 0.2rem 0 0 0.8rem;
    font-size: large;
}